@use "../../colors" as *;
@use "../../gaps" as *;
@use "../../mixins" as *;

header {
  @include media(m) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid;
    @include themify("border-color", "card-border");
    @include themify("background", "mobile-menu");
  }

  nav {
    @include media(m) {
      position: absolute;
      left: 0;
      bottom: 0;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
      width: 100%;
      min-height: 50vh;
      opacity: 0;
      min-height: 0;
      max-height: 0;
      pointer-events: none;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      @include themify("background", "mobile-menu");
      &.open {
        opacity: 1;
        min-height: 100vh;
        max-height: 100vh;
        pointer-events: auto;
      }
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include themify("background", "primary");
    padding: $gap2;
  }
  .logo {
    position: relative;
    @include type-2(18px);
    @include hover-divider;
    @include themify("color", "text");
    @include media(m) {
      align-self: center;
    }
  }
  .routes {
    display: flex;
    gap: $gap3;
    @include media(m) {
      gap: $gap2;
      flex-direction: column;
      padding: $gap5 $gap2 $gap2;
    }
    .route {
      @include hover-divider;
      @include type-1(18px);
      overflow: hidden;
      color: $g8;
    }
  }

  .icons {
    display: flex;
    gap: $gap1;
    position: relative;

    a,
    div {
      flex-shrink: 0;
      color: $g8;
      cursor: pointer;
    }
    @include media(m) {
      display: none;
    }
  }
  .iconsMobile {
    display: none;
    @include media(m) {
      display: flex;
      padding: $gap2;
      gap: $gap2;
      li,
      li a {
        @include themify("color", "text");
        cursor: pointer;
      }
    }
  }
  .burger {
    display: none;
    @include media(m) {
      display: block;
    }
    height: 3em;
    width: 3em;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s all;
    background: transparent;
    border: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 10;
    &:after {
      content: "";
      display: block;
      position: absolute;
    }
    .burgerLines {
      @include themify("background", "text");
      top: 50%;
      margin-top: -0.125em;
      &,
      &:after,
      &:before {
        pointer-events: none;
        display: block;
        content: "";
        width: 80%;
        border-radius: 3px;
        height: 3px;
        position: absolute;
        transform: rotate(0);
        background: inherit;
      }
      &:after {
        width: 70%;
        left: 0;
        top: -10px;
      }
      &:before {
        width: 70%;
        position: absolute;
        right: 0;
        top: 10px;
      }
    }
    &,
    &:after,
    &:before {
      transition: all 0.2s;
    }
    &.open {
      transform: rotate(135deg);
      .burgerLines {
        &:before,
        &:after {
          left: 0;
          top: 0px;
        }
        &:before {
          width: 100%;
          transform: rotate(90deg);
        }
        &:after {
          display: none;
        }
      }
    }
  }
}
