@use "../../colors" as *;
@use "../../gaps" as *;
@use "../../mixins" as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include themify("background", "primary");

  .logo {
    position: relative;
    @include type-2(18px);
    @include hover-divider;
    @include themify("color", "text");
  }

  .routes {
    display: flex;
    gap: $gap3;
    .route {
      @include hover-divider;
      @include type-1(18px);
      overflow: hidden;
      color: $g8;
    }
  }

  .icons {
    display: flex;
    gap: $gap1;
    position: relative;
    a,
    div {
      flex-shrink: 0;
      color: $g8;
      cursor: pointer;
    }
  }
}
