@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@media only screen and (max-width: 760px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid;
  }
  header.dark {
    border-color: #1c1c1c;
  }
  header.light {
    border-color: #cccccc;
  }
  header.dark {
    background: rgba(0, 0, 0, 0.8);
  }
  header.light {
    background: rgba(240, 240, 240, 0.8);
  }
}
@media only screen and (max-width: 760px) {
  header nav {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    min-height: 50vh;
    opacity: 0;
    min-height: 0;
    max-height: 0;
    pointer-events: none;
    transition: 0.3s;
  }
  header nav.dark {
    background: rgba(0, 0, 0, 0.8);
  }
  header nav.light {
    background: rgba(240, 240, 240, 0.8);
  }
  header nav.open {
    opacity: 1;
    min-height: 100vh;
    max-height: 100vh;
    pointer-events: auto;
  }
}
header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
header .content.dark {
  background: #000000;
}
header .content.light {
  background: #f0f0f0;
}
header .logo {
  position: relative;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 20px;
  position: relative;
}
header .logo::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  width: 0;
  height: 1px;
  bottom: -4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  background: linear-gradient(270deg, #dc1891 0%, #931061 100%);
}
header .logo:hover:after,
header .logo :focus:after,
header .logo :active:after {
  left: 0;
  right: auto;
  width: 100%;
}
header .logo.dark {
  color: #e0e0e0;
}
header .logo.light {
  color: #000000;
}
@media only screen and (max-width: 760px) {
  header .logo {
    align-self: center;
  }
}
header .routes {
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 760px) {
  header .routes {
    gap: 16px;
    flex-direction: column;
    padding: 48px 16px 16px;
  }
}
header .routes .route {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  overflow: hidden;
  color: #7a7a7a;
}
header .routes .route::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  width: 0;
  height: 1px;
  bottom: -4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  background: linear-gradient(270deg, #dc1891 0%, #931061 100%);
}
header .routes .route:hover:after,
header .routes .route :focus:after,
header .routes .route :active:after {
  left: 0;
  right: auto;
  width: 100%;
}
header .icons {
  display: flex;
  gap: 12px;
  position: relative;
}
header .icons a,
header .icons div {
  flex-shrink: 0;
  color: #7a7a7a;
  cursor: pointer;
}
@media only screen and (max-width: 760px) {
  header .icons {
    display: none;
  }
}
header .iconsMobile {
  display: none;
}
@media only screen and (max-width: 760px) {
  header .iconsMobile {
    display: flex;
    padding: 16px;
    gap: 16px;
  }
  header .iconsMobile li,
  header .iconsMobile li a {
    cursor: pointer;
  }
  header .iconsMobile li.dark,
  header .iconsMobile li a.dark {
    color: #e0e0e0;
  }
  header .iconsMobile li.light,
  header .iconsMobile li a.light {
    color: #000000;
  }
}
header .burger {
  display: none;
  height: 3em;
  width: 3em;
  position: relative;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s all;
  background: transparent;
  border: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 10;
}
@media only screen and (max-width: 760px) {
  header .burger {
    display: block;
  }
}
header .burger:after {
  content: "";
  display: block;
  position: absolute;
}
header .burger .burgerLines {
  top: 50%;
  margin-top: -0.125em;
}
header .burger .burgerLines.dark {
  background: #e0e0e0;
}
header .burger .burgerLines.light {
  background: #000000;
}
header .burger .burgerLines, header .burger .burgerLines:after, header .burger .burgerLines:before {
  pointer-events: none;
  display: block;
  content: "";
  width: 80%;
  border-radius: 3px;
  height: 3px;
  position: absolute;
  transform: rotate(0);
  background: inherit;
}
header .burger .burgerLines:after {
  width: 70%;
  left: 0;
  top: -10px;
}
header .burger .burgerLines:before {
  width: 70%;
  position: absolute;
  right: 0;
  top: 10px;
}
header .burger, header .burger:after, header .burger:before {
  transition: all 0.2s;
}
header .burger.open {
  transform: rotate(135deg);
}
header .burger.open .burgerLines:before, header .burger.open .burgerLines:after {
  left: 0;
  top: 0px;
}
header .burger.open .burgerLines:before {
  width: 100%;
  transform: rotate(90deg);
}
header .burger.open .burgerLines:after {
  display: none;
}/*# sourceMappingURL=Header.module.css.map */