@use "../../colors" as *;
@use "../../gaps" as *;
@use "../../mixins" as *;

.home {
  @include column-flex;
  gap: $gap7;
  margin-top: $gap9;
  .title {
    @include column-flex;
    gap: $gap1;
    h1 {
      @include type-2(80px);
      @include themify("color", "text");
      word-break: keep-all;
    }
    h2 {
      @include type-1(24px);
      @include themify("color", "text");

      span {
        @include text-gradient;
      }
    }
  }
  a {
    @include button;
    @include type-1(18px);
    @include themify("border-color", "border");
  }
}
