@use "../../colors" as *;
@use "../../gaps" as *;
@use "../../mixins" as *;

.home {
  @include column-flex;
  gap: $gap7;
  margin-top: $gap9;

  .title {
    @include column-flex;
    gap: $gap1;
    text-align: center;
    h1 {
      @include media(m) {
        @include type-2(32px);
      }
      @include type-2(80px);
      @include themify("color", "text");
      @include themify("border-color", "text");
    }

    h2 {
      @include media(m) {
        @include type-1(18px);
      }
      @include type-1(24px);
      @include themify("color", "text");
      div {
        display: inline-block;
      }
      span {
        @include text-gradient;
      }
    }
  }

  a {
    @include button;
    @include type-1(18px);
    @include themify("border-color", "border");
    display: flex;
    align-items: centers;
  }
  .tab {
    display: none;
    @include themify("color", "border");
    @include media(m) {
      display: block;

      a {
        color: currentColor;
        border: none !important;
      }
    }
  }
}
