@use "../../colors" as *;
@use "../../gaps" as *;
@use "../../mixins" as *;

.home {
  @include column-flex;
  gap: $gap7;
  margin-top: $gap9;
  .title {
    @include column-flex;
    gap: $gap1;
    h1 {
      @include type-2(80px);
      @include themify("color", "text");
    }
    h2 {
      @include type-1(24px);
      @include themify("color", "text");

      span {
        background: linear-gradient(270deg, #dc1891 0%, #931061 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  a {
    @include button;
    @include themify("background", "button");
    @include themify("color", "text");
    @include type-1(18px);
    border: 2px solid;
    @include themify("border-color", "border");
    &:hover {
      @include themify("border-color", "border");
      background: transparent;
    }
  }
}
