@use "../../colors" as *;
@use "../../gaps" as *;
@use "../../mixins" as *;

.projects {
  @include column-flex;
  margin-top: $gap9;
  gap: $gap6;
  @include media(m) {
    margin-top: $gap8;
  }
  h3 {
    @include type-2(80px);
    @include media(m) {
      @include type-2(32px);
    }
    @include themify("color", "text");
  }
  .cards {
    display: grid;
    column-gap: $gap4;
    row-gap: $gap6;
    grid-template-columns: 1fr 1fr;
    @include media(t) {
      grid-template-columns: 1fr;
    }
    @include media(m) {
      gap: $gap4;
    }
    .card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 560px;
      min-height: 224px;
      padding: $gap3;
      gap: $gap2;
      position: relative;
      @include card;
      p:nth-child(1) {
        @include type-2(32px);
        @include themify("color", "card-title");
      }
      p:nth-child(2) {
        @include type-1(18px);
        @include themify("color", "text");
      }
      a {
        @include type-1(18px);
        @include text-gradient;
        position: absolute;
        bottom: $gap2;
      }
    }
  }
  .repo {
    @include text-gradient;
    @include type-1(18px);
    @include hover-divider;
  }
  .tab {
    display: none;
    border: none;
    @include themify("color", "border");
    @include media(m) {
      display: flex;
      width: 100%;
      justify-content: space-between;
      a {
        color: currentColor;
      }
      a:nth-child(1) {
        transform: rotate(180deg);
      }
    }
  }
}
