@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
.skills {
  display: flex;
  flex-direction: column;
  gap: 120px;
  align-items: self-start;
  margin-top: 260px;
}
@media only screen and (max-width: 1400px) {
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}
@media only screen and (max-width: 760px) {
  .skills {
    margin-top: 160px;
  }
}
.skills h3 {
  align-self: center;
  grid-column: span 2;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 120px;
}
@media only screen and (max-width: 760px) {
  .skills h3 {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 40px;
  }
}
.skills h3.dark {
  color: #e0e0e0;
}
.skills h3.light {
  color: #000000;
}
.skills > div {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 140px;
}
@media only screen and (max-width: 1400px) {
  .skills > div {
    gap: 40px;
  }
}
@media only screen and (max-width: 760px) {
  .skills > div {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 1400px) {
  .skills > div .cardDesc {
    min-height: 200px;
  }
}
@media only screen and (max-width: 760px) {
  .skills > div .cardDesc {
    display: none;
  }
}
.skills > div .cardDesc div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.skills > div .cardDesc div p:nth-child(1) {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
.skills > div .cardDesc div p:nth-child(1).dark {
  color: #666666;
}
.skills > div .cardDesc div p:nth-child(1).light {
  color: #a3a3a3;
}
.skills > div .cardDesc div p:nth-child(2) {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
.skills > div .cardDesc div p:nth-child(2).dark {
  color: #e0e0e0;
}
.skills > div .cardDesc div p:nth-child(2).light {
  color: #000000;
}
.skills > div .iconsCard {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  gap: 20px;
}
@media only screen and (max-width: 1400px) {
  .skills > div .iconsCard {
    justify-content: center;
    justify-self: center;
    align-self: self-end;
  }
}
.skills > div .iconsCard div {
  align-self: self-start;
  background: #e0e0e0;
  padding: 20px;
  border: 1px solid;
  border-radius: 2px;
  box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}
.skills > div .iconsCard div.dark {
  border-color: #1c1c1c;
}
.skills > div .iconsCard div.light {
  border-color: #cccccc;
}
.skills > div .iconsCard div.dark {
  background: #141414;
}
.skills > div .iconsCard div.light {
  background: #e0e0e0;
}
.skills > div .iconsCard div.dark {
  color: #141414;
}
.skills > div .iconsCard div.light {
  color: #e0e0e0;
}
.skills > div .iconsCard div:hover {
  border: 1px solid #dc1891;
}
.skills > div .iconsCard div svg {
  color: currentColor;
}
.skills > div .iconsCard .active {
  border: 1px solid #dc1891 !important;
}
@media only screen and (max-width: 760px) {
  .skills > div .iconsCard .active.dark {
    border-color: #1c1c1c;
  }
  .skills > div .iconsCard .active.light {
    border-color: #cccccc;
  }
}
.skills .tab {
  display: none;
}
.skills .tab.dark {
  color: #292929;
}
.skills .tab.light {
  color: #b8b8b8;
}
@media only screen and (max-width: 760px) {
  .skills .tab {
    display: flex;
    justify-content: flex-end;
    transform: rotate(180deg);
  }
  .skills .tab a {
    border: none !important;
    color: currentColor;
  }
}/*# sourceMappingURL=Skills.module.css.map */