$p1: #dc1891;
$g1: #fafafa;
$g2: #f0f0f0;
$g3: #e0e0e0;
$g4: #cccccc;
$g5: #b8b8b8;
$g6: #a3a3a3;
$g8: #7a7a7a;
$g9: #666666;
$g12: #292929;
$g13: #1c1c1c;
$g14: #141414;
$g15: #000000;

$dark: (
  primary: $g15,
  text: $g3,
  button: $g12,
  border: $g12,
  card: $g14,
  card-border: $g13,
  card-title: $g9,
  mobile-menu:
    rgba(
      $color: $g15,
      $alpha: 0.8,
    ),
);
$light: (
  primary: $g2,
  text: $g15,
  button: $g5,
  border: $g5,
  card: $g3,
  card-title: $g6,
  card-border: $g4,
  mobile-menu:
    rgba(
      $color: $g2,
      $alpha: 0.8,
    ),
);
